body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #073e79; /* Apply blue background to the entire body */
}

body {
  overflow-x: hidden;
}

/* Sign-in & Sign-up css */

.app-wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #ffffff; /* Set background color to white */
}

.white-background {
  background-color: #ffffff;
}

.sign-in-container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
}

.left-content {
  font-size: 80px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  margin: 5% 0 0 20%;
  color: whitesmoke;
}

.left-image {
  width: 133%;
  height: 133%;
}

.form {
  max-width: 400px;
  margin: 50px auto 0 33%;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.title {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(17, 9, 102);
}

.subtitle {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(17, 9, 102);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-label {
  font-size: 14px;
  margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
  padding: 12px 16px;
  margin-bottom: 10px;
  font-size: 18px;
  width: calc(100%);
  box-sizing: border-box;
  background-image: url('images/email-icon.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 24px 24px;
  padding-left: 34px;
}

input[type='password'] {
  background-image: url('images/password-icon.png');
}

input[type='email'].has-content,
input[type='password'].has-content {
  background-image: none;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 40px; 
}

.password-input .toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-input .toggle-password img {
  width: 24px;
  height: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login {
  border-radius: 10px;
  width: 50%;
  padding: 12px 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.or-divider {
  text-align: center;
  margin: 5px 0;
}

.google-login,
.facebook-login {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 20px;
}

/* Dashboard css */

.app-wrapper-dashboard {
  position: relative; /* Ensure absolute positioning works relative to this container */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
  overflow: hidden; /* Prevent content from overflowing behind sidebar */
}

.sidebar-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #073e79;
  width: 200px; /* Fixed width for the sidebar */
  height: 100%; /* Occupy full height of the parent container */
}

.content-dashboard {
  position: relative; /* Ensure content remains above the sidebar */
  margin-left: 200px; /* Adjust margin to leave space for the sidebar */
  padding: 20px;
  z-index: 1; /* Ensure content is above sidebar */
}

.app-header-dashboard {
  background-color: #add8e6;
  padding: 0% 15%;
  flex-shrink: 0;
  width: 100%;
  z-index: 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10%; /* Push the search bar to the left */
}

.search-bar input {
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.sign-out {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 2;
}

