/* Body */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #073e79;
}

body {
  overflow-x: hidden;
}

/* Sign-in & Sign-up css */
.app-wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
}

.sign-in-container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
}

.left-content {
  font-size: 80px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  margin: 5% 0 0 20%;
  color: whitesmoke;
}

.left-image {
  width: 133%;
  height: 133%;
}

.form {
  max-width: 400px;
  margin: 50px auto 0 33%;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.title {
  text-align: left;
  font-family: Inter;
  font-size: 30px;
  color: rgb(17, 9, 102);
}

.subtitle {
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  color: rgb(17, 9, 102);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-label {
  font-size: 14px;
  font-family: Inter;
  margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
  padding: 12px 16px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Inter;
  width: calc(100%);
  box-sizing: border-box;
  background-image: url('images/email-icon.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 24px 24px;
  padding-left: 34px;
}

input[type='password'] {
  background-image: url('images/password-icon.png');
}

input[type='email'].has-content,
input[type='password'].has-content {
  background-image: none;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 40px;
}

.password-input .toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-input .toggle-password img {
  width: 24px;
  height: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login {
  border-radius: 10px;
  border: 0;
  width: 100%;
  padding: 12px 0;
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 20px;
  cursor: pointer;
  background-color: #1780f1;
  color: white;
}

.or-divider {
  text-align: center;
  margin: 5px 0;
}

.google-login,
.facebook-login {
  width: 200px;
  height: auto;
  margin-top: 10px;
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  font-family: Inter;
}

.error {
  color: red;
  margin-bottom: 20px;
  font-family: Inter;
}

/* Dashboard Header css */
.app-wrapper-dashboard {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.app-header-dashboard {
  background-color: #a2c5e2;
  padding: 0 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 250px);
  position: fixed;
  top: 0;
  left: 250px;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-results {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.search-result-item {
  margin-bottom: 10px;
}

.search-result-item a {
  text-decoration: none;
  color: #073e79;
  font-weight: bold;
}

.search-result-item a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 400px;
}

.search-bar input {
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.search-bar button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 100px;
  border-radius: 60px;
  padding: 1px 7px;
  background-color: #ffffff;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-desc {
  font-family: Inter;
  font-size: 15px;
  margin-right: 5px;
}

.user-icon {
  width: 33px;
  height: 33px;
}

.sign-out {
  position: fixed;
  top: 25px;
  right: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 2;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Sidebar */

.sidebar-dashboard {
  background-color: #195392;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.sidebar-title {
  color: white;
  font-family: Inter;
  font-size: 30px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.sidebar-bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding-bottom: 100px;
}

.sidebar-button {
  background-color: #195392;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 90%;
  text-align: left;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

.sidebar-button.active {
  background-color: #d3d3d3;
  font-weight: bold;
  font-family: Inter;
  color: #073e79;
}

.sidebar-button:hover {
  background-color: #f0f0f0;
}

/* Content */

.content-dashboard {
  margin-left: 250px;
  padding: 80px 20px 20px 20px;
  flex: 1;
}

.content-title {
  color: black;
  font-weight: bold;
  font-family: Inter;
  font-size: 21px;
}

.content-title2 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: Inter;
  font-size: 24px;
}

.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Inter;
}

.responsive-table th,.responsive-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.responsive-table th {
  background-color: #aed5f5;
}

.responsive-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.responsive-table tr:nth-child(odd) {
  background-color: #fff; 
}

@media only screen and (max-width: 768px) {
 .responsive-table {
    font-family: Inter;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
 .responsive-table {
  font-family: Inter;
    font-size: 12px;
  }
}

.action-buttons {
  display: flex;
  gap: 5px;
  white-space: nowrap;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-size: 18px;
}

.action-button:hover {
  color: #007bff;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: Inter;
  text-align: left;
}

.profile-title {
  font-size: 30px;
}

.profile-position {
  font-size: 18px;
}

.profile-email {
  font-size: 15px;
}

.profile-pic {
  margin-top: 15px;
  width: 125px; 
  height: 125px; 
}


.settings-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.settings-button {
  flex: 1;
  background-color: #195392;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  text-align: center;
}

.settings-button:hover {
  background-color: #f0f0f0;
  color: #195392;
}

.settings-button.active {
  background-color: #d3d3d3;
  font-weight: bold;
  color: #073e79;
}

.settings-content {
  margin-top: 20px;
  font-family: Inter;
  font-size: 16px;
}
